// Application-wide Sass variables adapted from sass-boilerplate.

$text-font-stack: "Be Vietnam Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$code-font-stack: "Courier New", "DejaVu Sans Mono", Monaco, monospace !default;

$text-color: rgb(34, 34, 34) !default;
$brand-color: #722F37 !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

$max-width: 1180px !default;

$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

$base-url: "/assets/" !default;
