$colors: (
    'common': (
        'white': #ffffff,
        'black-solid': #000,
        'black': #010F1C,
    ),
    'yellow': (
        '1': #FFB342,
        '2': #FFD43A,
        '3': #FFB21D,
    ),
    'pink': (
        '1': #993040,
        '2': #800020,
        '3': #5E0018,
        '4': #B3475A,
    ),
    'green': (
        'dark': #3F0B1B,
        '1': #955463,
    ),
    'khaki': (
        '1': #A96E79,
    ),
    'blue': (
        '1': #800020,
    ),
    'orange': (
        '1': #993040,
    ),
    'heading': (
        'primary': #010F1C,
        'secondary': #2A1114,
    ),
    'grey': (
        '1':#F6F7F9,
        '2':#ECF2F7,
        '3':#CAD4DB,
        '4':#F8F8F8,
        '5':#EFF0ED,
        '6':#EFF1F5,
        '7':#F6F6F6,
        '8':#EAE4DE,
        '9':#E5E9F2,
    ),
    'text': (
        'body':#55585B,
        '1':#6C5A5D,
        '2':#55585B,
        '3':#9A8A8D,
        '4':#7A696C,
        '5':#87777A,
        '6':#8E8083,
    ),
    'theme': (
        'primary': #800020,
        'secondary': #722F37,
        'brown': #993040,
        'green': #B3475A,
    ),
    'footer': (
        'grey-1': #F8EFF2
    ),
    'border': (
        'primary': #EBDCE1,
        'secondary': #F4E9ED,
        '3': #E8D4DB,
        '4': #EADAE0,
    )
);

$white : #fff;
$black : #010F1C;
$theme-primary : #800020;
$border-primary : #EBDCE1;
